:root {
    --header: #ab5301f6;
    --header-logo: #ffffffe9;
    --outline: #e9730596;

}

.dark {
    --header: #0c0c0cec;
    --header-logo: #ffffffd1;
    --outline: #ab530186;
}

html .main *:focus-visible {
    outline-color: var(--outline);
}

body .logo>a>svg>g>g>g>g>path,
body .logo>a>svg>g>path {
    fill: var(--theme);
}

.dark .header .logo>a {
    filter: none;
}

.page-index .header:not(.header-sticky) .logo>a>svg>g>g>g>g>g>g>path,
body.dark .logo>a>svg>g>g>g>g>g>g>path {
    fill: var(--theme) !important;
}
.page-index #top > .header:not(.header-sticky) > nav > div > a > svg > g:nth-child(2) > g > rect,
.page-index #top > .header:not(.header-sticky) > nav > div > a > svg > g:nth-child(2) > g > path,
.page-index #top > .header:not(.header-sticky) .logo>a>svg>g>g>g>g>path,
.page-index #top > .header:not(.header-sticky) .logo>a>svg>g>path,
.page-index #top > .header:not(.header-sticky) .logo>a>svg> g:nth-child(2) > g > path,
body > .header > nav > div > a > svg > g:nth-child(1) > g > g:nth-child(1) > g > path,
body .logo>a>svg > g:nth-child(1) > g > g:nth-child(3) > g > path,
body.dark .logo>a>svg path,
body.dark .logo>a>svg>g>g>g>g>path,
body.dark .logo>a>svg>g>path {
    fill: var(--header-logo) !important;
}

.page-index #top:not(.dark) > .header:not(.header-sticky) > nav > div > a > svg > g:nth-child(2) > g > rect,
.page-index #top:not(.dark) > .header:not(.header-sticky) > nav > div > a > svg > g:nth-child(2) > g > path,
.page-index #top:not(.dark) > .header:not(.header-sticky) .logo>a>svg>g>g>g>g>path,
.page-index #top:not(.dark) > .header:not(.header-sticky) .logo>a>svg>g>path,
.page-index #top:not(.dark) > .header:not(.header-sticky) .logo>a>svg> g:nth-child(2) > g > path,
body:not(.dark) .logo>a>svg>g>g>g>g>g>g>path {
    fill: var(--header) !important;
}

.page-index .index-page-intro-container-inner-content {
    background: linear-gradient(60deg, #914c02 6%, #ac7500 86%);
}

.page-index .dark .index-page-intro-container-inner-content {
    background: linear-gradient(60deg, #763d00 6%, #906301 86%);
}

body #menu>li.menu-item--singin>a .btn {
    background-color: #ffffff36;
    border-color: #ffffff86;
}

body.dark #menu>li.menu-item--singin>a .btn {
    background-color: #ffffff30;
    border-color: #ffffff80;
}

body #menu>li.menu-item--singin>a .btn:hover,
body #menu>li.menu-item--singin>a .btn:focus {
    background-color: #ffffff66;
    border-color: #ffffff99;
    box-shadow: 0 0 0 3px #ffffff99;
}

body.dark #menu>li.menu-item--singin>a .btn:hover,
body.dark #menu>li.menu-item--singin>a .btn:focus {
    background-color: #ffffff60;
    border-color: #ffffff93;
    box-shadow: 0 0 0 3px #ffffff93;
}

body #menu>li.menu-item--singin>a .btn:active {
    box-shadow: 0 0 0 3px #ffffff66;
}
body.dark #menu>li.menu-item--singin>a .btn:active {
    box-shadow: 0 0 0 3px #ffffff60;
}
