{{ if eq .RelPermalink "/" }}
<section class="index-page-intro-container">
    <div class="index-page-intro-container-inner">
        <div class="index-page-intro-container-inner-content">
            <div class="index-page-intro-container-inner-content-wrapper">
                <span class="index-page-content-slogan">
                    A realm of simplicity and mastery<br>for virtual machine management
                </span>
                <span class="index-page-content-button">
                    <a href="/download/" class="btn btn-dark btn-rounded btn-md">
                        <i class="wm wm-fw wm-download"></i>&nbsp;
                        Try Cloudmin
                    </a>
                </span>
                <br>
            </div>
        </div>
    </div>
</section>
{{ end }}